.login-form {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  border: 1px solid gray;
  border-color: rgba(78, 78, 78, 0.25);
  color: black;
  -webkit-box-shadow: -1px 1px 9px 1px rgba(78, 78, 78, 0.25);
  box-shadow: -1px 1px 9px 1px rgba(78, 78, 78, 0.5);
}
.container {
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://static9.depositphotos.com/1646358/1223/i/450/depositphotos_12231815-stock-photo-beautiful-nature-bokeh-and-green.jpg);
}

.container img {
  margin: 3rem 3rem;
  transition: transform 0.6s;
}
.container img:hover {
  transform: scale(1.2);
  opacity: 70%;
}
.container form {
  margin: auto;
  height: 32rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
}
.container label {
  margin: 0.5rem 2rem;
  color: rgba(78, 78, 78, 0.9);
}
.container input {
  display: block;
  background-color: white;
  border: 1px solid gray;
  border-color: rgba(78, 78, 78, 0.2);
  border-radius: 0.15rem;
  height: 2.5em;
  margin: 0 2rem;
}
.container input[type="submit"] {
  background-color: rgb(113, 182, 11);
  border: 0;
  width: 80%;
  margin: 1rem auto;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 11px 10px 13px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 11px 10px 13px 0px rgba(0, 0, 0, 0.65);
}
.container hr {
  width: 80%;
  height: 0rem;
  border: 0.5px solid rgba(4, 7, 0, 0.1);
  border-radius: 0.5px;
}
.container span {
  margin: 0 1rem;
  color: rgba(78, 78, 78, 0.9);
  font-size: 0.9rem;
  text-align: center;
}
.container Link {
  color: blue;
  text-decoration: none;
}
.container Link:visited {
  color: red;
  /* text-decoration: line-through; */
}
.container div {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  /* display: none; */
  transition: transform 0.6s;
}
