.ttt {
  background-color: red;
}
.card-container {
  position: relative;
  /* background-color: rgb(0, 255, 85); */

  width: 12rem;
  height: 18rem;
  /* padding: 1rem; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-container img {
  /* border: 2px solid red; */

  width: 100%;
  overflow: hidden;

  height: 100%;

  -webkit-box-shadow: 1px 2px 9px 0px #000000;
  box-shadow: 1px 2px 9px 0px #000000;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
.card-container img:hover {
  transform: scale(1.2);
  opacity: 70%;
}
.card-container p {
  text-align: center;
}
.cart {
  position: absolute;
  top: 5%;
  right: 2%;
  background-color: rgba(165, 180, 170, 0.7);
  border: 0.4px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 9px 0px #000000;
  box-shadow: 1px 2px 9px 0px #000000;
}
.data {
  position: absolute;
  color: white;
  top: 75%;
  height: 25%;
  right: 0%;
  background-color: rgba(32, 32, 32, 0.8);
  width: 100%;
  -webkit-box-shadow: inset 0px -8px 11px 0px #000000;
  box-shadow: inset 0px -8px 11px 0px #000000;
}
.rating {
  position: absolute;
  top: 50%;
  right: 0%;
}
.people {
  display: inline-block;
  font-size: 0.81rem;
  padding: -1;
  margin: -1;
  transform: translate(0px,-3px);
}

.data p {
  color: rgb(113, 182, 11);
  font-weight: 900;
  font-family: "Trebuchet MS", sans-serif;
}
.price {
  position: absolute;
  top: 50%;
  left: 3%;
  /* background-color: red; */
  color: gold;
}
